header{
    background-color: rgba(0, 0, 0, 0.137);
    padding-bottom: 0.5%;
    padding-top: 1.5%;
}


/* items1  */
.items1{
    background: url('../new_img/background/items_background1.jpg') no-repeat;
    background-size: cover;
    opacity: 0.9;
    height: 75vh;
}
.items1 > article{
    width: 60%;
    margin: 0 auto;
    padding-top: 25%;
    text-shadow: -2px 0 rgba(88, 88, 88, 0.6), 
                0 2px rgb(88, 88, 88, 0.6), 
                2px 0 rgb(88, 88, 88, 0.6), 
                0 -2px rgb(88, 88, 88, 0.6);
}
.items1 > article > h3{
    font-size: 2rem;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
}
.items1 > article > h2{
    font-size: 3rem;
    text-decoration: underline;
    color: #fff;
    text-transform: uppercase;
}
/* items1  */
/* items2 */
.items2{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: top;
    
}
.items2 > .men{
    width: 20%; height: 100%;
    margin: 10% 5% 0 0;
    position: sticky;
    top: 10%;
    z-index: 995;
}
.items2 > .men > nav{
    display: block;
    width: 80%;
    text-transform: uppercase;
    font-size: 1.1rem;
    line-height: 200%;
    border-bottom: 1px solid rgb(161, 161, 161);
    color: #000;
    font-weight: normal;
    cursor: pointer;

}
.items2 > .men > a{
    display: block;
    width: 80%;
    text-transform: uppercase;
    font-size: 1.1rem;
    line-height: 200%;
    border-bottom: 1px solid rgb(161, 161, 161);
    color: #000;
    font-weight: normal;
}
.items2 > .men > nav > a{
    display: block;
    font-weight: normal;
    font-size: 0.8rem;
    transition: .5s;
    display: none;
}
.items2 > .men > nav.active > a{
    display: block;
    transition: .5s;
}
.items2 > .men > nav > a:hover{color: salmon;}
.items2 > .diy{
    margin-top: 5%;
    position: relative;
    width: 100%;
}
.items2 > .diy > h3{
    color: #000;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: normal;
    padding-top: 6%;
    margin-bottom: 3%;
}
.items2 > .diy > h3.active{
    display: none;
}
.items2 > .diy > .item{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 8%;
}
.items2 > .diy > .item > li{
    margin-bottom: 5%;
    width: 23%; height: 30vh;
    position: relative;
}
.items2 > .diy > .item > li > a{
    cursor: pointer;
}
.items2 > .diy > .item > li > a > img{
    width: 100%; height: 100%;
    object-fit: fill;
}
.items2 > .diy > .item > li > a > span{
    display: block;
    text-align: center;
    font-size: 1rem;
    margin-top: 3%;
    font-weight: normal;
    color: #000;
}
.items2 > .diy > .item > li > a > article{
    width: 100%; height: 100%;
    position: absolute;
    left: 0; top: 0;
    background-color: rgba(88, 88, 88, 0.6);
    padding: 20% 10%;
    display: none;
}
.items2 > .diy > .item > li > a > article > h3{
    color: #fff;
    font-size: 1rem;
}
.items2 > .diy > .item > li > a > article > p{
    white-space: pre-line;
    color: #fff;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 200%;
}
/* hover  */
.items2 > .diy > .item > li:hover > a > article{
    display: block;
}
.items2 > .men > a:hover{
    color: salmon;
}
.diy > .sort{
    width: 15%;
    position: absolute;
    right: 0; top: 2.5%;
}
.diy > .sort > option{
    font-weight: normal;
}
.items2 > .diy > .item.active{
    display: none;
}
/* hover  */
/* items2 */

@media(min-width:992px) and (max-width:1297px){
    header{
        background-color: rgba(0, 0, 0, 0);
        margin-top: 2%;
    }
    .items1{height: 50vh;}
    .items1 > article{padding-top: 17%;}
    .items1 > article > h3{font-size: 2.5rem;}
    .items1 > article > h2{font-size: 3.5rem;}
    /* items1  */
    /* items2  */
    .items2{width: 90%;}
    .items2 > .men{margin-right: 7%;}
    .items2 > .men > a{
        font-size: 1rem;
        width: 100%;
    }
    .items2 > .men > a:nth-of-type(1) > span{font-size: 0.7rem;}
    /* items2  */
    .items2 > .diy{margin: 5% 0;}
    .items2 > .diy > h3{
        font-size: 1.5rem;
        margin: 10% 0 0 0;
    }
    .items2 > .diy > .item > li{
        width: 23%; height: 25vh;
        margin: 5% 0;
    }
    .items2 > .diy > .item > li > a > span{font-size: 1rem;}

    .items2 > .diy > .item > li > a > article > h3{
        font-size: 1rem;
    }
    .items2 > .diy > .item > li > a > article > p{
        font-size: 0.7rem;
    }
}
@media(min-width:768px) and (max-width:991px){
    header{
        background-color: rgba(0, 0, 0, 0);
        margin-top: 2%;
    }
    .items1{height: 40vh;}
    .items1 > article{padding-top: 20%;}
    .items1 > article > h3{text-align: center;}
    .items1 > article > h2{text-align: center;}
    /* items1  */
    /* items2  */
    .items2{
        display: block;
        width: 100%;
    }
    .items2 > .men{
        width: 100%;
        margin: 0 auto;
        padding: 2%;
        text-align: center;
        background-color: rgba(190, 190, 190, 0.726);
        top: 0;
    }
    .items2 > .men a{
        display: inline;
        font-size: 1.2rem;
        padding: 0 3%;
        border-bottom: none;
    }
    .items2 > .men > a:nth-of-type(1) > span{display: none;}
    /* items2  */
    .items2 > .diy{
        width: 90%;
        margin: 15% auto;
    }
    .items2 > .diy > h3{
        font-size: 1.5rem;
        margin: 10% 0 0 0;
    }
    .items2 > .diy > .item > li{
        width: 30%; height: 17vh;
        margin: 5% 0;
    }
    .items2 > .diy > .item > li > a > span{font-size: 1rem;}

    .items2 > .diy > .item > li > a > article > h3{display: none;}
    .items2 > .diy > .item > li > a > article > p{display: none;}
}
@media(max-width:767px){
    header{
        background-color: rgba(0, 0, 0, 0);
        margin-top: 5%;
    }
    .items1{height: 30vh;}
    .items1 > article > h3{
        font-size: 1.5rem;
        text-align: center;
    }
    .items1 > article > h2{
        font-size: 2rem;
        text-align: center;
    }
    /* items1  */
    /* items2  */
    .items2{
        display: block;
        width: 100%;
    }
    .items2 > .men{
        width: 100%;
        margin: 0 auto;
        padding: 5%;
        text-align: right;
        background-color: rgba(190, 190, 190, 0.726);
        top: 0;
    }
    .items2 > .men a{
        display: inline;
        font-size: 0.7rem;
        padding: 0 3%;
        border-bottom: none;
    }
    .items2 > .men > a:nth-of-type(1) > span{display: none;}
    
    /* items2  */
    .items2 > .diy{
        width: 80%;
        margin: 15% auto;
    }
    .items2 > .diy > h3{
        font-size: 1.2rem;
        margin: 15% 0 0 0;
    }
    .items2 > .diy > .item > li{
        width: 30%; height: 15vh;
        margin: 5% 0;
    }
    .items2 > .diy > .item > li > a > span{font-size: 0.7rem;}

    .items2 > .diy > .item > li > a > article > h3{
        font-size: 0.5rem;
        text-align: center;
        margin-top: 30%;
    }
    .items2 > .diy > .item > li > a > article > p{display: none;}
    .diy > .sort{
        width: 30%;
    }
}