@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Sen:wght@400;700;800&display=swap');

*{
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Sen', sans-serif;
    font-size: 16px;
    box-sizing: border-box; /* border나 padding 사용 시 박스 사이즈 변화 없음 */
    color: #555;
    font-weight: bold;
}
.orderAll{
    background-color: rgba(105, 105, 105, 0.637);
    width: 100%; height: 100vh;
    position: fixed;
    left: 0; top: 0;
    z-index: 9999;
    display: none;

}
.orderAll.active{
    display: block;
}
.orderPage{
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
    border: 2px solid #000;
    margin-top: 1%;
    padding: 2% 4%;
    position: absolute;
    left: calc(50% - 30%); top: 0;
}
.order{
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.order > .order_img{
    width: 50%;
}
.order > .order_img > .full_img{
    width: 60%; height: 30vh;
    border: 1px solid rgb(133, 133, 133);
    overflow: hidden;
}
.order > .order_img > .full_img > img{width: 100%; height: 100%; object-fit: fill;}
.order > .order_img > ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    margin-top: 2%;
}
.order > .order_img > ul > li{
    width: 12%; height: 4vh;
    margin-right: 3%;
    border: 1px solid rgb(133, 133, 133);
    cursor: pointer;
}
.order > .order_img > ul > li > img{width: 100%; height: 100%; object-fit: fill;}

.order > .order_text{
    
}
.order > .order_text > h2{
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 3% 0;
}
.order > .order_text > ul{
    margin: 5% 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.order > .order_text > ul > li{
    margin: 3% 0; width: 50%;
    font-weight: normal;
}
.order > .order_text > ul > li > label{margin-right: 10%;}
.order > .order_text > ul > li:nth-of-type(2) > input{font-weight: normal;}
.order > .order_text > ul > li:nth-of-type(3){
    font-size: 1.1rem;
    font-weight: bold;
}
.order > .order_text > ul > li > input{width: 20%; }
.order > .order_text > p{
    white-space: pre-line;
    font-weight: normal;
    font-size: 0.9rem;
    border-top: 1px solid #999;
    line-height: 200%;
    overflow-y: scroll;
    height: 20vh;
    width: 100%;
}
.order > .order_text > a{
    display: inline-block;
    font-weight: normal;
    text-transform: uppercase;
    padding: 1% 5%;
    border: 1px solid #555;
    margin-top: 5%;
    float: right;
    transition: .5s;
    cursor: pointer;
}
.order > .order_text > a::after{
    content: '';
    display: block;
    clear: both;
}
.order > .order_text > a:hover{
    background-color: #777;
    color: #fff;
}

/* under  *//* under  *//* under  *//* under  *//* under  */
#sec{display: none;}
#sec.active{display: block;}



.order_under{
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin: 2% 0;
    padding-top: 5%;
    border-top: 1px solid #555;
}
.order_under > .order_items{
    width: 40%;
    padding: 2% 3%;
    overflow-y: scroll; height: 17vh;
}
.order_under > .order_items > legend{font-size: 1.1rem;}
.order_under > .order_items > ul{}
.order_under > .order_items > ul > li{
    text-transform: uppercase;
    font-weight: normal;
}
.order_under > .order_items > ul > li > span{float: right;}
.order_under > .order_input{
    width: 60%;
    padding: 2%;
    
}
.order_under > .order_input > legend{font-size: 1.1rem;}
.order_under > .order_input > ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.order_under > .order_input > ul > li{
    padding-bottom: 1%;
    
}
.order_under > .order_input > ul > li > label{font-weight: normal;margin-right: 1%;}
.order_under > .order_input > ul > li > input{width: 70%;}
.order_under > .order_input > ul > li:nth-of-type(3){width: 90%;}
.order_under > .order_input > ul > li:nth-of-type(3) > input{
    width: 90%;
    margin-bottom: 1%;
    float: right;
}



.order_sum{
    display: flex;
    justify-content: space-between;
    align-items: top;

}
.order_sum > p{
    white-space: pre-line;
    font-size: 0.7rem;
    font-weight: normal;
    width: 40%;
}
.order_sum > .order_all{
    width: 60%;
    text-align: right;
}
.order_sum > .order_all > ul{
    
}
.order_sum > .order_all > ul > li{
    font-weight: normal;
    padding: 1% 0;
}
.order_sum > .order_all span{padding-left: 10%;}
.order_sum > .order_all > h2{
    font-size: 1.1rem;
    margin: 1% 0;
}
.order_sum > .order_all > h2 > span{font-size: 1.1rem;}
.order_sum > .order_all > a{
    display: inline-block;
    font-weight: normal;
    text-transform: uppercase;
    padding: 1% 5%;
    border: 1px solid #555;
    margin-top: 2%;
    transition: .5s;
}
.order_sum > .order_all a:hover{
    background-color: #777;
    color: #fff;
    cursor: pointer;
}


@media(min-width:992px) and (max-width:1297px){
    main{width: 90%;}
    /* under  */
    .order_under{
        display: block;
        width: 100%;
    }
    .order_under > .order_items{width: 100%; height: 15vh;}
    .order_under > .order_input{width: 100%; margin-top: 5%;}
    .order_under > .order_input > ul{display: block;}
    .order_under > .order_input > ul > li > input{width: 100%;} 
    .order_under > .order_input > ul > li:nth-of-type(3) > input{
        width: 100%;
    }
    /* under  */
    
    
}
@media(min-width:768px) and (max-width:991px){
    main{width: 90%;}
    .order{display: block;}
    .order > .order_img{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .order > .order_img > ul{
        display: block;
        width: 40%;
    }
    .order > .order_img > ul > li{
        margin: 2% auto;
        width: 15vw; height: 10vh;
    }
    /* image  */
     /* text  */
     .order > .order_text > h2{font-size: 1.3rem;}
     .order > .order_text > ul{margin: 2% 0;}
     .order > .order_text > ul > li{
         margin: 1% 0;
         font-size: 1rem;
     }
     .order > .order_text > ul > li > label{font-size: 0.7rem;}
     .order > .order_text > p{font-size: 0.7rem;}
     .order > .order_text > a{float: none;}
     /* text  */
     /* under  */
    .order_under{
        display: block;
        width: 100%;
    }
    .order_under > .order_items{
        width: 100%; height: 13vh;
        padding: 3% 5%;
        margin: 0 auto 3%;
    }
    .order_under > .order_items > legend{font-size: 0.8rem;}
    .order_under > .order_items > ul > li{font-size: 0.8rem;}
    .order_under > .order_items > ul > li > span{font-size: 0.8rem;}
    .order_under > .order_input{
        width: 100%;
        margin: 0 auto;
        padding: 3% 5%;
    }
    .order_under > .order_input > legend{font-size: 0.8rem;}
    .order_under > .order_input > ul{display: block;}
    .order_under > .order_input > ul > li > label{font-size: 0.8rem;}
    .order_under > .order_input > ul > li > input{
        width: 100%;
    }
    .order_under > .order_input > ul > li:nth-of-type(3) > input{width: 100%;}
    /* under  */
    /* sum  */
    .order_sum > p{
        width: 100%;
        font-size: 0.5rem;
        text-align: left;
    }
    .order_sum > .order_all{
        width: 100%;
        margin-top: 5%;
        text-align: right;
    }
    .order_sum > .order_all > ul > li{font-size: 0.8rem;}
    .order_sum > .order_all > h2{font-size: 0.8rem;}
    .order_sum > .order_all > a{
        margin-top: 5%;
        font-size: 0.9rem;
    }
    /* sum  */
}
@media(max-width:767px){
    main{width: 90%;}
    .order{display: block;}
    .order > .order_img{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .order > .order_img > ul{
        display: block;
        width: 40%;
    }
    .order > .order_img > ul > li{
        margin: 2% auto;
        width: 15vw; height: 7vh;
    }
    /* image  */
    /* text  */
    .order > .order_text > h2{font-size: 1rem;}
    .order > .order_text > ul{margin: 3% 0;}
    .order > .order_text > ul > li{
        margin: 1% 0;
        font-size: 0.8rem;
    }
    .order > .order_text > ul > li > label{font-size: 0.7rem;}
    .order > .order_text > p{font-size: 0.7rem;}
    .order > .order_text > a{float: none;}
    /* text  */
    /* under  */
    .order_under{
        display: block;
        width: 100%;
    }
    .order_under > .order_items{
        width: 100%; 
        margin: 0 auto;
    }
    .order_under > .order_items > legend{font-size: 0.8rem;}
    .order_under > .order_items > ul > li{font-size: 0.8rem;}
    .order_under > .order_items > ul > li > span{font-size: 0.8rem;}
    .order_under > .order_input{
        width: 100%;
        margin: 0 auto;
    }
    .order_under > .order_input > legend{font-size: 0.8rem;}
    .order_under > .order_input > ul{display: block;}
    .order_under > .order_input > ul > li > label{font-size: 0.8rem;}
    .order_under > .order_input > ul > li > input{width: 100%;}
    .order_under > .order_input > ul > li:nth-of-type(3) > input{width: 100%;}
    /* under  */
    /* sum  */
    .order_sum{display: block;}
    .order_sum > p{
        width: 100%;
        font-size: 0.5rem;
        text-align: left;
    }
    .order_sum > .order_all{
        width: 100%;
        margin-top: 5%;
        text-align: right;
    }
    .order_sum > .order_all > ul > li{font-size: 0.8rem;}
    .order_sum > .order_all > h2{font-size: 0.8rem;}
    .order_sum > .order_all > a{
        margin-top: 5%;
        font-size: 0.9rem;
    }
    /* sum  */
}